__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/
.env

.ipynb_checkpoints/
.venv-*/
data/processed/dataset_clusterizado.csv
logs/
tests_bootstrap.sqlite3
models/clustering/*.joblib
models/regression/*.joblib
